{% extends "docsitalia/base.html" %}
{% load i18n static %}

{% block content %}
<div class="pt-5">
    <div class="u-padding-r-bottom u-textLeft u-posRelative u-zindex-40">
        <div class="container">
            <form enctype="multipart/form-data" id="converterForm" action="{% url 'docs_italia_convertitore:docs-italia-converter-view' %}"
                method="POST" class="row" >{% csrf_token %}
                <div class="col-md-12">
                    <h1>Converti il tuo documento</h1>
                    Puoi caricare file di tipo .docx e .odt creati secondo le linee guida su come scrivere documenti da convertire.
                </div>

                <div class="offset-md-4 col-md-4">
                  <div class="form-group">
                    {{ form.email }}
                    {{ form.email.errors }}
                    <label for="email">Indirizzo email</label>
                  </div>
                </div>
                {% comment %}
                    need to do this because of dropzone
                    {{ form.file }}
                    {{ form.file.errors }}
                {% endcomment %}
                <div id="fileInput" class="dropzone col-md-12">
                  <div class="fallback">
                    <input name="file" type="file" id="file"/>
                  </div>
                </div>
                {% if form.converter_options %}
                <fieldset class="col-md-12 shadow-sm">
                    <legend>Opzioni avanzate <button class="btn btn-outline-primary btn-xs float-right mt-3" type="button" data-toggle="collapse" data-target="#collapseOptions" aria-expanded="false" aria-controls="collapseOptions">Mostra / Nascondi</button></legend>

                    <div class="row collapse" id="collapseOptions">
                        <div class="col-md-12">
                            Per maggiori informazioni
                            <a href="https://github.com/italia/docs-italia-comandi-conversione/blob/master/doc/comandi/converti-opzioni.md">Vedi la documentazione di dettaglio</a>
                        </div>
                        {% for field in form %}
                            {% if field.name in form.converter_options %}
                                <div class="form-group col">
                                  {{ field }}
                                  {{ field.label }}
                                  <i class="it-info" data-html="true" title="Informazioni" data-toggle="popover" data-trigger="click" data-placement="top" data-content='{{ field.help_text|safe }}'></i>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </fieldset>
                {% endif %}
                <div class="col-md-12 pt-3 pb-5 text-center">
                    <button form="converterForm" id="submit" type="submit" class="yo btn btn-primary" >
                        Invia
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<link rel="stylesheet" href="{% static 'css/dropzone.css' %}" />
{% endblock %}

{% block extra_scripts %}
{{ block.super }}
<script src="{% static 'js/dropzone.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
<script>
    Dropzone.autoDiscover = false;
    $(document).ready(function() {
      $(function () {
        $('[data-toggle="popover"]').popover()
      });
      var validator = $('#converterForm').validate({
        rules: {
          email: {
            required: true,
              email: true
          },
          file: {
            required: true
          }
        }
      });
      new Dropzone('#fileInput', {
        url: "#",
        maxFiles:1,
        acceptedFiles: "application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.oasis.opendocument.text",
        autoProcessQueue: false,
        init: function () {
        var myDropzone = this;
        $("#submit").click(function (e) {
                e.preventDefault();
                myDropzone.processQueue();
                if(!validator.form()) {
                  alert("E' necessario fornire un indirizzo email");
                }
            });
            myDropzone.on('success', function () {
                window.location.href = "{% url 'docs_italia_convertitore:conversion-started' %}";
            });
        },
        sending: function (file, xhr, formData) {
            formData.append("email", $('#id_email').val());
            formData.append("monospace", $('#id_monospace').val());
            formData.append("csrfmiddlewaretoken", $('input[name="csrfmiddlewaretoken"]').val());
        }
     })
    })
</script>
{% endblock %}
