{% extends "docsitalia/base.html" %}
{% block content %}
<div class="pt-5 pb-5">
    <div class="container">
        <div class="u-padding-r-bottom u-textLeft u-posRelative u-zindex-40">
          <h1>Grazie!</h1>
          <p>La conversione del tuo documento è iniziata, riceverai a breve una e-mail con un link per scaricare i file.</p>
          <p><a class="list-item active left-icon" href="{% url 'docs_italia_convertitore:docs-italia-converter-view' %}"><i class="it-chevron-left left"></i><span>Carica un altro documento</span></a></p>
        </div>
    </div>
</div>
{% endblock %}
