{% load i18n static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Docs Italia</title>
  <link rel="stylesheet" href="{% static 'css/docs_italia_convertitore_mail.css' %}" />
</head>
<body offset="0">
  <table id="content-wrapper" align="center" cellpadding="0" cellspacing="0" width="600">
    <!-- BEGIN top spacing -->
    <tr>
      <td>
        <table align="center" width="100%" height="64" cellpadding="0" cellspacing="0" style="width: 100% !important; padding: 8px; color: #acacac;">
          <tr>
            <td width="100%" align="right" style="text-align: right;" valign="bottom">
              {% block top-right %}{% endblock %}
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <!-- END top spacing -->

    <!-- BEGIN content -->
    <tr>
      <td>
        <table align="center" width="100%" cellpadding="0" cellspacing="0" style="background-color: #ffffff; margin-bottom: 64px;" bgcolor="#ffffff">
          <!-- BEGIN header -->
          <tr>
            <td class="header">
              {% block header %}
              {# inline dataURI from media/docsitalia/images/docs-italia-email.png #}
              <img src="{% static 'img/docs-italia-email.png' %}" width="100%" height="150" style="" />
              {% endblock %}
            </td>
          </tr>
          <!-- END header -->

          <tr>
            <td style="padding: 8px; padding-top: 16px;">
              <table width="100%" cellpadding="0" cellspacing="0">
                  <td style="padding-top: 16px; padding-bottom: 16px; color: #443 !important;">
                    {% block content %}
                    {% endblock %}
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <!-- END content -->
  </table>
</body>
</html>
